*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    padding: 2rem;
}
main{
    width: 22%;
    height: 35vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: 20rem;
}
.dice{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* span{
    font-size: 2.5rem;
} */
.btn{
    padding: 10px 30px;
    font-size: 1rem;
}
.container{
    width: 70%;
    height: 40vh;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    
    background-color: blue;
    margin-top: 2rem;
}
.box{
    height: 120px;
    width: 120px;
    background-color: red;
}