*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    margin-top: 7rem;
}
h1{
    font-size: 18rem;
    font-weight: 900;
    
}
.img{
    background-image: url(./pic2.jpeg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(20px 7px 5px rgb(0, 70, 128));
}