<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Design </title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
       <div class="items">ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID6O6UtImeGYvC6uajdVMTPoljOwsnJH9BexL3ub9B56 rajashrilinge2004@gmail.com

        1
       </div>
       <div class="items">
        1
       </div>
    </div>
</body>
</html>