*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    color: aliceblue;
}
body{
    min-height: 100vh;
    width: 100%;
    padding: 1.5rem;
}
main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    margin: 0 auto;
}
.box1{
    height: 20vh;
    background-color: black;
}
.box2{
    height: 60vh;
    background-color: rgb(143, 21, 21);
}
.box3{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
} 
.box3 div{
    background-color: rgb(143, 21, 21);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
